@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background: url(Path.png);
    background-size: 20em;
    object-fit: cover;
    margin-top: 4em;
    object-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: right;
    background-position-y: top;
}