@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background: url(Path.png);
    background-size: 20em;
    object-fit: cover;
    margin-top: 4em;
    object-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: right;
    background-position-y: top;
}
.btn1 {
    @apply bg-blue-900 px-3 py-1 rounded text-white hover:scale-95 transition duration-700 hover:shadow-xl
}
.btn2 {
    @apply border border-blue-900 px-3 py-1 rounded text-blue-900 hover:bg-blue-900 hover:text-white transition duration-300
}